:root {
    --color: 0;
    --main: hsl(var(--color), 60%, 38%);
  }

.player {
    width: 100%;
    position: relative;
    cursor: pointer;
}

.banner {
    height: 100%;
}

.banner img {
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 0;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.banner img.hide {
    opacity: 0;
}

.play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    color: white;
    width: 50px;
    height: 50px;
    background-color: var(--main);
    border-radius: 50%;
    transition: 0.1s ease-in-out;
    opacity: .9;
}

.play-button h5 {
    font-size: 1.2em;
    margin-left: 4px;
    margin-top: 30px;
    transition: 0.1s ease-in-out;
}

@media screen and (max-width: 1000px) {
    .play-button h5 {
        margin-left: .1em;
        margin-top: 1.5em;
    }
}

.hidebutton {
    transition: 0.4s ease-in-out;
    opacity: 0;
}

.controls {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: default;
    z-index: 1;
    position: absolute;
    bottom: 2.7rem;
    width: calc(100% - 1rem);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    transition: visibility 0s, opacity 0.1s ease-in-out;
}

.forward-div {
    pointer-events: none;
    opacity: 0;
    transition-duration: opacity 0.5s;
    height: calc(100% - 2.7rem);
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.4) 40%, rgba(0,0,0,.4) 100%); 
}

.backward-div {
    pointer-events: none;
    opacity: 0;
    transition-duration: opacity 0.5s;
    height: calc(100% - 2.7rem);
    width: 30%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,.4) 60%, rgba(0,0,0,0) 100%); 
}

@-webkit-keyframes forward {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes forward {
    from { opacity: 1; }
    to { opacity: 0; }
}


.forward-icon, .backward-icon {
    scale: 1.5;
    color: white;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s ease-in-out;
}

.controls button {
    background: none;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 3px;
    margin-bottom: 0px;
    transition-duration: .1s;
}

.controls button:hover {
    color: #ddd;
    margin-top: 0px;
    margin-bottom: 3px;
}

.controls h5 {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2px;
}

.controls #progressBar {
    width: 100%;
    cursor: pointer;
}

.controls #audioBar {
    width: 100%;
    cursor: pointer;
}

#currenttime, #duration, #captionsIcon {
    margin-right: .5em;
    margin-left: .5em;
}

#audioIcon {
    margin-right: .5em;
    max-width: 1.3em;
    min-width: 1.3em;
}

#player::cue {
    background-color: transparent;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#play {
    max-width: 1.2em;
    min-width: 1.2em;
} 

input[type="range"] {
    transition-duration: .1s;
    appearance: none;
    -webkit-appearance: none; /* Remove default styles in WebKit browsers */
    width: 100%; /* Full-width */
    height: 3px; /* Set a fixed height */
    background: #ddd;
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove default focus style */
    margin: 5px 0; /* Add some spacing */
}

.progress-bar {
    width: 100%;
    height: 20px;
}
.audio-bar {
    width: 10%;
    height: 20px;
}

.progress-bar, .audio-bar { /* Override bootstrap progress-bar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    margin-top: 3px;
}

.progress-bar:hover input[type="range"] {
    height: 5px;
}
.audio-bar:hover input[type="range"] {
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    transition-duration: .2s;
    -webkit-appearance: none; /* Remove default styles in WebKit browsers */
    width: 9px; /* Set a specific thumb width */
    height: 9px; /* Set a specific thumb height */
    background: var(--main); /* Green thumb color */
    border: solid var(--main) 1px;
    border-radius: 50%; /* Round the thumb */
    cursor: pointer; /* Add a pointer cursor on hover */
    opacity: 0;
}

input[type="range"]::-moz-range-thumb {
    transition-duration: .2s;
    width: 9px; /* Set a specific thumb width for Firefox */
    height: 9px; /* Set a specific thumb height for Firefox */
    background: var(--main); /* Green thumb color for Firefox */
    border: solid var(--main) 1px;
    border-radius: 50%; /* Round the thumb for Firefox */
    cursor: pointer; /* Add a pointer cursor on hover for Firefox */
    opacity: 0;
}

.progress-bar:hover input[type="range"]::-webkit-slider-thumb {
    opacity: 1;
}

.progress-bar:hover input[type="range"]::-moz-range-thumb {
    opacity: 1;
}
.audio-bar:hover input[type="range"]::-webkit-slider-thumb {
    opacity: 1;
}

.audio-bar:hover input[type="range"]::-moz-range-thumb {
    opacity: 1;
}
